@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {

  .text-extra,
  .title-sections {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {

  .text-extra,
  .title-sections {
    font-size: 12px;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

}

@keyframes slidein {
  from {
    bottom: -200px;
  }

  to {
    bottom: 100px;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.offcanvas-title{
font-size: 25px;
}

.navbar-brand img {
  max-width: 40%;
}

.swiper {
  width: 100%;
  height: 300px;
}

.slide {
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  margin-left: 5%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

* {
  box-sizing: border-box;

}

.title-slide {
  font-size: 20px;
  font-weight: 300;
  color: #ff214f;
}

.description-slide {
  font-size: 55px;
  text-align: start;
}

/* ---- grid ---- */

.grid {
  background: rgb(255, 255, 255);
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-grid {
  margin: 0px auto;
  columns: 4;
}

.box {
  width: 510px;
  height: 445px;
}

.landscape {
  grid-column-end: span 3;
  width: 500px;
  height: 890px;
}


.container-animation {
  width: 70%;
  position: absolute;
}

/* ---- final grid item ---- */

.section-size {
  width: 100%;
  height: 80%;
}

.linha-text {
  width: 100%;
  border-bottom: 1px solid #ff214f;
  position: absolute;
  top: 28px;
}

.risco-text {
  height: 20px;
  width: 100%;
  position: relative;
}

.title-sections {
  color: #626262;
  margin: 0;
  line-height: 40px;
  font-size: 20px;
  font-weight: 300;
}

.text-extra {
  font-size: 40px;
}

.section-dark {
  background-color: #000;
  color: #b7b7b7;
  height: 700px;
}

.container-img {
  display: inline-flex;
}

.slidein {
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 200px;
  bottom: 100px;
  animation-name: slidein;
  animation-duration: 2s;
}

.container-footer {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  padding-bottom: 70px;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.container-logo {
  width: 150px;
  height: 50px;
  text-align: end;
  position: absolute;
}

.logo {
  width: 100px;
  height: 25px;
}

.footer-text {
  font-size: 13px;
  font-weight: 300;
  color: #6f6f6f;
}

.container-footer-text {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  position: absolute;
}

.container-icons {
  width: 95%;
  height: 50px;
  text-align: end;
  position: absolute;
}

.icons {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 20px;
}